body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #333;
}

.container {
    width: 944px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i.material-icons {
    vertical-align: text-bottom;
}

button.btn {
    border: solid 1px #d0cdcd;
    border-radius: 4px;
    background: linear-gradient(#fdfafa, #e2e2e2);

    min-height: 24px;
    vertical-align: middle;
}

button.btn > i.material-icons {
    font-size: 12px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form-group:not(:first-child) {
    margin-top: 16px;
}

label {
    font-weight: 600;
}

input, textarea {
    font-size: inherit;
    border: solid 1px #d0cece;
    border-radius: 2px
}

textarea {
    min-height: 80px;
    min-width: 320px;
}

/* Componets */

/* Nav Bar */
nav {
    background-color: #5e747b;
    color: white;
    height: 38px;
    display: flex;
    align-items: center;
}

nav > div > a {
    color: white;
}

nav > div > *:not(:first-child) {
    margin-left: 8px;
}

/* Tree */
ul.tree {
    padding-left: 60px;
}
ul.tree.root {
    padding: 0;
}

ul.tree > li {
    list-style: none;
    margin: 4px 0 8px 0;
}

.inline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* box */

.box {
    position: relative;
    display: inline-flex;

    border: solid 2px #c7c7c7;
    border-radius: 4px;

    background-color: #fbfbfb;

    padding: 16px 12px;
}

.box.positive {
    border-color: #47cb69;
    background-color: #f6fff3;
}

.box.negative {
    border-color: #e68e8e;
    background-color: #fff3f3;
}

.box-stars {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    top: 0;
    right: 0;
}

.box-star {
    font-size: 10px;
    color: rgba(206, 42, 42, 0.67);
}

/* buttons */
.action-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-left: 12px;
}

.action-buttons > button:not(:first-child) {
    margin-left: 4px;
}

/* Models */

/* Stakeholder */

.stakeholder > i.material-icons {
    color: #fb97b5;
    font-size: 38px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.stakeholder > span {
    font-size: 18px;
}
